*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #2E323F;
}

.logo {
    width: 20%;
 }

.nav-list {
    display: flex;
    list-style: none;
    font-size: 18px;
}

.nav-item {
    color: #fff;
    font-family: "Oswald", sans-serif;
    margin-left: 1em;
}

.nav-secondary {
    margin-left: 1em;
}

.sign-up-btn {
    background-color: #A59678;
    border-radius: 100px;
    padding: 0 .5em 0 .5em;
}


h1 {
    font-size: 4em;
    margin: 0;
    font-family: "Oswald", sans-serif;
    line-height: 100%;
}

h1.first-title {
    color: #fff;
}
 h1.second-title {
     color:#A59678 
 }

 .header-info {
     background-color: #6f737f;
     padding-top: 1em;
 }

 .info-p {
     color: #fff;
     font-size: 24px;
     font-family: 'Montserrat', sans-serif;
 }

 .learn-more-btn {
     color: #fff;
     padding: .5em 1em .5em 1em;   
     background-color: #A59678;
     border-radius: 100px;
     text-transform: uppercase;
     font-size: 20px;
     font-family: "Oswald", sans-serif;
     display: inline-block;
     margin-bottom: 1em;
 }

 h3 {
     font-size: 30px;
     color: #A59678;
     text-align: center;
 }

 .infoSecond-div {
     background-color: lightgray;
     padding: 1em;
 }

 .infoSecond h3 {
     font-size: 36px;
     font-family: "Oswald", sans-serif;

 }
.infoSecond-p, .infoThird-secondary {
     font-size: 18px;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
}


.infoThird-div{
    background-color: #fff;
    align-items: center;
}


img {
    width: 100%;
}

.infoThird-primary h3{
    font-size: 36px;
}

.infoThird-primary {
    font-size: 21px;
}

.blueBack {
    background-color:#2E323F ;
    color:white;
    padding: 1em;
    margin-top: 1em;
}

.blueBack h3 {
    color: white;
}


h2 {
    font-size: 24px;
    color: white;
    font-family: "Oswald", sans-serif;

}

.div-footer {
    background-color:#2E323F;
    color: white;
    text-align: center;
}

.div-footer h5 {
    font-size: 21px;
    color: #A59678;
    font-family: "Oswald", sans-serif;
    margin: 0;

}

.div-footer p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

}

/*media queries*/
@media (max-width:700px){

    .row {
        align-items: flex-end;
    }
    .nav {
        display: flex;
    }

    .header-info {
        padding-bottom: 2em;
    }

    .headerDiv, .second-section, .third-section {
        display: flex;
    }

    .info-div {
        width: 100%;
        margin-left: 2em;
    }

    .infoSecond-p {
        margin-left: 1em;
    }

    .infoSecond-p h3  {
        margin: 0;
    }

    .blueBack {
        margin-left: 1em;
    }
    
}