*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
  }

.container {
    margin: 0 auto;
}

.container-title-text {
    background-color: #f3eed9;
    padding: 4em;
}

.responsive-title-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.responsive-title-text h1{
    margin-top: 0;
    color: #824936;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    line-height: 80%;
}

.responsive-title-short-text {
    font-size: 18px;
    font-family:'Roboto', sans-serif;
    letter-spacing: 4px;
    ;
}

.quality-title {
     text-align: center;
     font-size: 36px;
     color:#824936
}

.quality-content {
    display: flex;
    font-size: 21px;
}

.col + .col {
    margin-left: 2em;
}

.custom-content, .care-content {
    display: flex;
}

.container-custom {
    background-color: black;
    color: white;
    padding: 1em;
    font-size: ;

}

.custom-content h3 {
    font-size: 36px;
    padding: 1em;
}



.container-care {
    background-color: #824936;
    color: white;
    font-size: 21px;
}
