*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
  }

.container {
    background-color: #f3eed9;
    padding: 4em;
}

.responsive-title-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.responsive-title-text h1{
    margin-top: 0;
    color: #b24936;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    line-height: 80%;
}

.responsive-title-short-text {
    font-size: 18px;
    font-family:'Roboto', sans-serif;
    letter-spacing: 4px;
    ;
}

